@import url('./font/stylesheet.css');

@import "tailwindcss";
@import "@nuxt/ui";

html {
    width: 100%;
}

#__nuxt {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: "TT Hoves", sans-serif !important;
    font-size: 20px;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* White background */
    color: #212121;
    max-width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  ::-webkit-scrollbar {
    width: 6px; /* Adjust width */
    height: 6px; /* For horizontal scrollbars */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Light gray background */
    border-radius: 10px; /* Rounded track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Scroll thumb color */
    border-radius: 10px; /* Rounded corners */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker color on hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }

  .prose {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
  }
  
